<header class="masthead" role="banner">
    <p class="logo"><a href="/"><img src="/images/contra.png" alt="Anger6" /></a></p>

    <ul class="social-sites">
        <li><a href="https://github.com/happyAnger6"><img src="/images/github.png" alt="github" /></a></li>
        <li><a href="http://blog.csdn.net/happyAnger6/"><img src="/images/csdn.png" alt="csdn" /></a></li>
    </ul>

    <nav role="navigation">
        <ul class="nav-main">
            <li><a href="/" class="current-page">主页</a></li>
            <li><a href="https://github.com/happyAnger6/nodejs_blog">本站源码</a></li>
            <li><a href="/contact/">联系</a></li>
            {{{ addHeader header }}}
        </ul>
    </nav>
</header>
