<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Le Journal</title>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:300|Open+Sans:700" />
    <link rel="stylesheet" href="/stylesheets/css/style.css" />

    <!--[if lt IE 9]>
    <script src="/javascripts/html5shiv.js"></script>
    <![endif]-->
</head>
<body>
<div class="page">
    <!-- ==== START MASTHEAD ==== -->
    <header class="masthead" role="banner">
        <p class="logo"><a href="/"><img src="img/logo.png" alt="Le Journal" /></a></p>

        <ul class="social-sites">
            <li><a href="http://www.facebook.com">f</a></li>
            <li><a href="http://www.twitter.com">t</a></li>
            <li><a href="http://www.flickr.com">n</a></li>
        </ul>

        <nav role="navigation">
            <ul class="nav-main">
                <li><a href="/" class="current-page">Home</a></li>
                <li><a href="/about/">About</a></li>
                <li><a href="/contact/">Contact</a></li>
            </ul>
        </nav>
    </header>
    <!-- end masthead -->

    <div class="container clearfix">
        <!-- ==== START MAIN ==== -->
        <main role="main">
            <section class="post">
                <h1>Sunny East Garden at the Getty Villa</h1>

                <img src="img/gettyvilla.jpg" width="600" height="365" alt="" class="post-photo-full" />

                <div class="post-blurb">
                    <p>It is hard to believe, but there are about 300 varieties of plants at the East Garden at the Getty, making the experience truly remarkable. This area is one of the most tranquil spaces at the Villa. As I wandered around, enjoying shade provided by sycamore and laurel trees and serenaded by splashing water from two sculptural fountains, I couldn't help but think of ancient Rome and the role of the garden 20 centuries ago. It was a place of peace and &hellip; <a href="#" class="more">Read More</a></p>
                </div>

                <footer class="footer">
                    <p class="post-footer">Posted in <a href="#">California</a>, <a href="#">Los Angeles</a> and <a href="#">Garden</a>  <time datetime="2013-05-17T11:20" class="pubdate">May 17, 2013 at 11:20am</time></p>
                </footer>
            </section>

            <section class="post">
                <h1>The City Named After Queen Victoria</h1>

                <img src="img/victoria.jpg" width="370" height="220" alt="" class="post-photo" />

                <div class="post-blurb">
                    <p>An hour and a half aboard a comfortable car ferry is all it takes to transport you from  the modern, urban space that is Greater Vancouver to colonial Vancouver Island, seemingly stuck in the 18th century. The main town of Victoria showcases all the picturesque gems the British Empire was so proud of at the height of its spanning expansion. Representative yet inviting Victorian style municipal buildings, a protected harbor and cobblestone streets populated with small shops and artisanal &hellip; <a href="#" class="more">Read More</a></p>
                </div>

                <footer class="footer">
                    <p class="post-footer">Posted in <a href="#">Island</a>, <a href="#">Canada</a> and <a href="#">Roadtrip</a>  <time datetime="2013-05-02T17:45" class="pubdate">May 02, 2013 at 5:45pm</time></p>
                </footer>
            </section>

            <nav role="navigation">
                <ol class="pagination">
                    <li>1</li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">6 &hellip;</a></li>
                    <li><a href="#" class="more">Next</a></li>
                </ol>
            </nav>
        </main>
        <!-- end main -->

        <!-- ==== START SIDEBAR ==== -->
        <div class="sidebar">
            <article class="about">
                <h2>About Me</h2>

                <img src="img/about-me.jpg" width="270" height="162" alt="" />

                <p>My name is Eleina Shinn. Exploring the unknown and learning about our planet is what brings me the most pleasure. I enjoy foreign cuisine, culture and discovering social design and architecture. During the last five years I traveled to over 20 countries on 4 continents, often with just my backpack and a map in hand.</p>
            </article>

            <div class="mod">
                <h2>My Travels</h2>
                <img src="img/map.png" width="298" height="145" alt="" class="map" />
            </div>

            <aside class="mod">
                <h2>Popular Posts</h2>

                <ul class="links">
                    <li><a href="#" class="more">The City Named After Queen Victoria</a></li>
                    <li><a href="#" class="more">Heaven on Earth? Let's Have Dinner in Paris</a></li>
                    <li><a href="#" class="more">Enjoying Strauss at the Volksoper in Vienna</a></li>
                </ul>
            </aside>

            <aside class="mod">
                <h2>Recently Shared</h2>

                <ul class="links">
                    <li><a href="#" class="more">Heaven on Earth? Let's Have Dinner in Paris</a></li>
                    <li><a href="#" class="more">Experiencing Ramadan in Morocco</a></li>
                    <li><a href="#" class="more">Octoberfest in Munich: The Party for The King's Daughter</a></li>
                </ul>
            </aside>
        </div>
        <!-- end sidebar -->
    </div>
    <!-- end container -->

    <!-- ==== START PAGE FOOTER ==== -->
    <footer role="contentinfo" class="footer">
        <p class="legal"><small>&copy; 2013 Le Journal. All Rights Reserved.</small></p>
    </footer>
    <!-- end page footer -->
</div> <!-- end page -->
</body>
</html>
